# 1. How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [160]:
imdb = pd.read_csv('IMDB-database-update.csv', encoding = 'Latin1') 
print("column in on dataset = " , len(imdb.columns))
print("row in on dataset = " , len(imdb))

column in on dataset =  36
row in on dataset =  3781

# 2. What are the top 3 movies with highest nett profit in 2013?

In [228]:
imdb2013 = imdb[imdb.title_year==2013]
year2013 = imdb2013.sort_values("net_USD", ascending=False)
year2013.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0

# 3. What are the top 3 movies with highest gross profit in 2009?

In [231]:
imdb2009 = imdb[imdb.title_year==2009]
year2009 = imdb2009.sort_values("gross_USD", ascending=False)
year2009.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
3094,3095,Harry Potter and the Half-Blood Prince,153,1,2009,UK,English,PG,250000000,301956980,...,1,10000,58753,1,10000,3,321795,973,7.5,0

# 4. How many non-english movies are in the dataset?

In [246]:
len(imdb[imdb.language!='English'])

153

# 5.  What are top 3 languages in the dataset aside English (based on number of movies)?

In [258]:
imdb[imdb.language != "English"]["language"].value_counts().head(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

# 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [271]:
imdb.groupby("country").sum().sort_values(by=['net_USD'], ascending=False).head(3)

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
country,,,,,,,,,,,,,,,,,,,,,
USA,5675953,329223,2924,6027180,121680335210,173684268384,52003933174,1729,2494,2769868,...,2989,2521427,37195351,1646,28279429,4267,326474639,1013202,19207.4,114
UK,617519,35921,306,636498,9972938734,11504553258,1531614524,138,263,94324,...,316,180520,2844615,160,3265458,408,32119102,108650,2177.4,15
Australia,68124,4116,38,78062,1411705523,1664277139,252571616,18,33,9118,...,39,13550,351964,24,548475,42,3337163,11892,252.2,1

# 7. What are the average budget of all movies in dataset in 2013?

In [285]:
avg2013 = imdb2013["budget_USD"].mean()
avg2013

51069610.77439024

# 8. What are the average budget of all movies in dataset in 2014?

In [286]:
imdb2014 = imdb[imdb.title_year==2014]
avg2014 = imdb2014["budget_USD"].mean()
avg2014

49919006.62251656

# 9. Which one is higher, average budget of all movies in dataset in 2014 or 2013

In [290]:
hasil = max(avg2013, avg2014, key=lambda x:int(x))
print("Max average budget is ", hasil)

Max average budget is  51069610.77439024

# 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [333]:
imdbnomor10 = pd.read_csv('IMDB-database-update.csv', encoding = 'Latin1') 
result = imdbnomor10.sort_values(by=['net_USD'], ascending=False).head(1)
result[['movie_title','net_USD']]

  movie_title    net_USD
0      Avatar  523505847